<!DOCTYPE html>
<html lang="en">

<head>
  <title>Birthday Calendar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="birthday-input" href="/birthday-input"> New</a>
      </li>
      <li class="nav-item active">
        <a class="logout" href="logout" >Logout</a>
      </li>
    </ul>
    <span class="navbar-text">
     <h5>Welcome <span class="member-name"></span></h5>
    </span>
  </div>
   
</nav>
  <div class="jumbotron">
    <h3 class="display-4">Birthday Tracker</h3>
    <p class="lead">View birthdays by month.</p>
    <hr class="my-4">


    <!-- Tab links -->
    <div class="tab" >
      <button class="tablinks nav-link" value="1">January</button>
      <button class="tablinks nav-link" value="2">February</button>
      <button class="tablinks nav-link" value="3">March</button>
      <button class="tablinks nav-link" value="4">April</button>
      <button class="tablinks nav-link" value="5">May</button>
      <button class="tablinks nav-link" value="6">June</button>
      <button class="tablinks nav-link" value="7">July</button>
      <button class="tablinks nav-link" value="8">August</button>
      <button class="tablinks nav-link" value="9">September</button>
      <button class="tablinks nav-link" value="10">October</button>
      <button class="tablinks nav-link" value="11">November</button>
      <button class="tablinks nav-link" value="12">December</button>
    </div>
  </div>

<div class="row">
    {{!-- <div class="col-sm-2"></div> --}}
    <div class="offset-md-2 col-sm-8">
      {{#if displayBirthdays}}
        <div class="card border-info mb-3">
            <h5 class="card-header" id="monthTitle">{{month}}</h5>
          
            <div id="bday-card" class="card-body text-info row">
              {{#each data}}
              <div class="card text-center mb-3 col-md-4 col-sm-6 col-xs-12" style="max-width: 18rem;">
                {{this.firstname}} {{this.lastname}} 
                 <hr class="my-2">
                <h1 class="card-text" style="font-size: 550%">{{this.date}}</h1>
                <p>Previous Gift: {{this.gift}}</p>
              </div>
              {{/each}}
            </div>
          {{/if}}
    </div>
    {{!-- <div class="col-sm-2"></div> --}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/members.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>

</body>

</html>